<div class="w-screen h-50h lg:flex-row flex-col bg-white overflow-hidden flex items-start justify-start">
    <div *ngFor="let card of cards" class="flex items-center w-screen h-60h justify-evenly">
        <div class="flex flex-col justify-between border-2 border-white lg:w-64 lg:h-72 w-4/5 h-4/5 lg:p-4 px-4 py-2 text-black">
            <div>
            <h1 class="lg:text-xl text-center font-bold text-lg">{{ card.title }}</h1>
            <h1 class="lg:text-[10px] text-center font-semibold mt-4"> {{ card.content }} </h1>
            </div>
            <a *ngIf="card.button" href="{{card.link}}">
                <button class="w-full h-10 border-black border-2 hover:bg-black hover:text-white transition">
                    <h1>{{card.buttonContent}}</h1>
                </button>
            </a>
        </div>
    </div>
</div>